.Root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.Nav {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100vw;
  height: 100px;

}
.Comp-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid blue;
  height: 100px;
  width: 49%;
}
.Comp-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 49%;
  height: 100px;
  border: 1px solid green;
}
.Comp-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid orange;
  width: 32%;
  height: 100px;
}
.Comp-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid blue;
  width: 32%;
  height: 100px;
}
.Comp-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid green;
  width: 32%;
  height: 100px;
}
.Comp-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid orange;
  width: 99%;
  height: 100px;
}